<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Popular Genres</h4>
                        <div class="line-dec"></div>
                       
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Science Fiction</a></li>
                            <li><a href="#tab2">Horror</a></li>
                            <li><a href="#tab3">Comedy</a></li>
                            <li><a href="#tab4">Bio</a></li>
                            <li><a href="#tab5">Romance</a></li>
                            <li><a href="#tab6">Comics</a></li>
                            <li><a href="#tab7">Adventure</a></li>
                            <li><a href="#tab8">Poetry</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Science Fiction</h4>
                                <span> some content about Science</span>
                                <p>more content</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Horror</h4>
                                <span>About Horror</span>
                                <p>some more content.</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="assets/img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Comedy</h4>
                                <span>content about Comedy</span>
                                <p>some more content</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="assets/img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Bio</h4>
                                <span>some content</span>
                                <p>some more content</p>
                            </div>
                        </div>
                        <div id="tab5">
                            <img src="assets/img/blog_item_05.jpeg" alt="">
                            <div class="text-content">
                                <h4>Romance</h4>
                                <span>some content</span>
                                <p>more content</p>
                            </div>
                        </div>
                        <div id="tab6">
                            <img src="assets/img/blog_item_06.jpg" alt="">
                            <div class="text-content">
                                <h4>Comics</h4>
                                <span>some content</span>
                                <p>more content</p>
                            </div>
                        </div>
                        <div id="tab7">
                            <img src="assets/img/blog_item_07.jpg" alt="">
                            <div class="text-content">
                                <h4>Adventure</h4>
                                <span>some content</span>
                                <p>more content</p>
                            </div>
                        </div>
                        <div id="tab8">
                            <img src="assets/img/blog_item_08.jpg" alt="">
                            <div class="text-content">
                                <h4>Poetry</h4>
                                <span>content</span>
                                <p>more content</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>