<body>

<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Popular Genres</h4>
                        <div class="line-dec"></div>
                       
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1">Science Fiction</a></li>
                            <li><a href="#tab2">Horror</a></li>
                            <li><a href="#tab3">Comedy</a></li>
                            <li><a href="#tab4">Romance</a></li>
                            <li><a href="#tab5">Bio</a></li>
                            
                            <li><a href="#tab6">Comics</a></li>
                            <li><a href="#tab7">Adventure</a></li>
                            <li><a href="#tab8">Poetry</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Science Fiction</h4>
                                <span> some content about Science</span>
                                <br>
                                <br>
                                <button (click)="explorescifi()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Horror</h4>
                                <span>About Horror</span>
                                <p>some more content.</p>
                                <br>
                                <br>
                                <button (click)="explorehorror()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="assets/img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Comedy</h4>
                                <span>content about Comedy</span>
                                <p>some more content</p>
                                <br>
                                <br>
                                <button (click)="explorecomedy()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                       
                        <div id="tab4">
                            <img src="assets/img/blog_item_05.jpeg" alt="">
                            <div class="text-content">
                                <h4>Romance</h4>
                                <span>some content</span>
                                <p>more content</p>
                                <br>
                                <br>
                                <button (click)="exploreromance()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                        <div id="tab5">
                            <img src="assets/img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Bio</h4>
                                <span>some content</span>
                                <p>some more content</p>
                                <br>
                                <br>
                                <button (click)="explorebio()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                        <div id="tab6">
                            <img src="assets/img/blog_item_06.jpg" alt="">
                            <div class="text-content">
                                <h4>Comics</h4>
                                <span>some content</span>
                                <p>more content</p>
                                <br>
                                <br>
                                <button (click)="explorecomics()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                        <div id="tab7">
                            <img src="assets/img/blog_item_07.jpg" alt="">
                            <div class="text-content">
                                <h4>Adventure</h4>
                                <span>some content</span>
                                <p>more content</p>
                                <br>
                                <br>
                                <button (click)="exploreadventure()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                        <div id="tab8">
                            <img src="assets/img/blog_item_08.jpg" alt="">
                            <div class="text-content">
                                <h4>Poetry</h4>
                                <span>content</span>
                                <p>more content</p>
                                <br>
                                <br>
                                <button (click)="explorepoetry()" class="scroll-link mybutton button1" data-id='scifi'>Explore</button>
    
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SCIFI-->
<div *ngIf="scifi" class="scroll-link">
    
<div id="scifi" class="subtype">
    <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
    <table class="books">
        <thead>
            <th>Author</th>
            <th>Average Rating</th>
            <th>Image</th>
            <th>Title</th>
            <th>Genre</th>
            <th>ISBN</th>
        </thead>
        <tr *ngFor ="let book of ib" >
            <td>{{book.authors}}</td>
         <td>{{book.average_rating}}<br> 
            
           
            <!--POPUP-->
            <button id="myBtn" (click)="popup()">Rate</button>

<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="activatepopup">

  <!-- Modal content -->
  <div class="modal-content" >
    
    
<button class="close " (click)="spanclick()" >&times;</button> 
     
    <label class="dontshow"  id="isbn">{{book.isbn}}</label>
   <select [(ngModel)]="usrrating">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
   </select>
    <button (click)="rating()" style="color: green;">Rate the book</button>
    <p *ngIf = "successfulrating">Rated successfully!</p>
    
  </div>

</div>

       <!--POPUP END-->

            
        
        
        </td>
            <td><img src="{{book.image_url}}"></td>
            <td>{{book.title}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.isbn}}</td>
        </tr>
    </table>
    </div>
    

</div>



<!--HORROR-->
<div *ngIf="horror" class="scroll-link">
    
    <div id="scifi" class="subtype">
        <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
        <table class="books">
            <thead>
                <th>Author</th>
                <th>Average Rating</th>
                <th>Image</th>
                <th>Title</th>
                <th>Genre</th>
                <th>ISBN</th>
            </thead>
            <tr *ngFor ="let book of ib" >
                <td>{{book.authors}}</td>
             <td>{{book.average_rating}}<br> 
                
               
                <!--POPUP-->
                <button id="myBtn" (click)="popup()">Rate</button>
    
    <!-- The Modal -->
    <div id="myModal" class="modal" *ngIf="activatepopup">
    
      <!-- Modal content -->
      <div class="modal-content" >
        
        
    <span class="close " (click)="spanclick()" >&times;</span> 
         
        <label class="dontshow"  id="isbn">{{book.isbn}}</label>
       <select [(ngModel)]="usrrating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
       </select>
        <button (click)="rating()" style="color: green;">Rate the book</button>
        <p *ngIf = "successfulrating">Rated successfully!</p>
        
      </div>
    
    </div>
    
           <!--POPUP END-->
    
                
            
            
            </td>
                <td><img src="{{book.image_url}}"></td>
                <td>{{book.title}}</td>
                <td>{{book.genre}}</td>
                <td>{{book.isbn}}</td>
            </tr>
        </table>
        </div>
        
    
    </div>




<!--COMICS-->
    <div *ngIf="comics" class="scroll-link">
    
        <div id="scifi" class="subtype">
            <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
            <table class="books">
                <thead>
                    <th>Author</th>
                    <th>Average Rating</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>ISBN</th>
                </thead>
                <tr *ngFor ="let book of ib" >
                    <td>{{book.authors}}</td>
                 <td>{{book.average_rating}}<br> 
                    
                   
                    <!--POPUP-->
                    <button id="myBtn" (click)="popup()">Rate</button>
        
        <!-- The Modal -->
        <div id="myModal" class="modal" *ngIf="activatepopup">
        
          <!-- Modal content -->
          <div class="modal-content" >
            
            
        <span class="close " (click)="spanclick()" >&times;</span> 
             
            <label class="dontshow"  id="isbn">{{book.isbn}}</label>
           <select [(ngModel)]="usrrating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
           </select>
            <button (click)="rating()" style="color: green;">Rate the book</button>
            <p *ngIf = "successfulrating">Rated successfully!</p>
            
          </div>
        
        </div>
        
               <!--POPUP END-->
        
                    
                
                
                </td>
                    <td><img src="{{book.image_url}}"></td>
                    <td>{{book.title}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.isbn}}</td>
                </tr>
            </table>
            </div>
            
        
        </div>
<!--ROMANCE-->
        <div *ngIf="romance" class="scroll-link">
    
            <div id="scifi" class="subtype">
                <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
                <table class="books">
                    <thead>
                        <th>Author</th>
                        <th>Average Rating</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>ISBN</th>
                    </thead>
                    <tr *ngFor ="let book of ib" >
                        <td>{{book.authors}}</td>
                     <td>{{book.average_rating}}<br> 
                        
                       
                        <!--POPUP-->
                        <button id="myBtn" (click)="popup()">Rate</button>
            
            <!-- The Modal -->
            <div id="myModal" class="modal" *ngIf="activatepopup">
            
              <!-- Modal content -->
              <div class="modal-content" >
                
                
            <span class="close " (click)="spanclick()" >&times;</span> 
                 
                <label class="dontshow"  id="isbn">{{book.isbn}}</label>
               <select [(ngModel)]="usrrating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
               </select>
                <button (click)="rating()" style="color: green;">Rate the book</button>
                <p *ngIf = "successfulrating">Rated successfully!</p>
                
              </div>
            
            </div>
            
                   <!--POPUP END-->
            
                        
                    
                    
                    </td>
                        <td><img src="{{book.image_url}}"></td>
                        <td>{{book.title}}</td>
                        <td>{{book.genre}}</td>
                        <td>{{book.isbn}}</td>
                    </tr>
                </table>
                </div>
                
            
            </div>


        <!--ADVENTURE-->    
            <div *ngIf="adventure" class="scroll-link">
    
                <div id="scifi" class="subtype">
                    <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
                    <table class="books">
                        <thead>
                            <th>Author</th>
                            <th>Average Rating</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>ISBN</th>
                        </thead>
                        <tr *ngFor ="let book of ib" >
                            <td>{{book.authors}}</td>
                         <td>{{book.average_rating}}<br> 
                            
                           
                            <!--POPUP-->
                            <button id="myBtn" (click)="popup()">Rate</button>
                
                <!-- The Modal -->
                <div id="myModal" class="modal" *ngIf="activatepopup">
                
                  <!-- Modal content -->
                  <div class="modal-content" >
                    
                    
                <span class="close " (click)="spanclick()" >&times;</span> 
                     
                    <label class="dontshow"  id="isbn">{{book.isbn}}</label>
                   <select [(ngModel)]="usrrating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                   </select>
                    <button (click)="rating()" style="color: green;">Rate the book</button>
                    <p *ngIf = "successfulrating">Rated successfully!</p>
                    
                  </div>
                
                </div>
                
                       <!--POPUP END-->
                
                            
                        
                        
                        </td>
                            <td><img src="{{book.image_url}}"></td>
                            <td>{{book.title}}</td>
                            <td>{{book.genre}}</td>
                            <td>{{book.isbn}}</td>
                        </tr>
                    </table>
                    </div>
                    
                
                </div>



<!--COMEDY-->
                <div *ngIf="comedy" class="scroll-link">
    
                    <div id="scifi" class="subtype">
                        <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
                        <table class="books">
                            <thead>
                                <th>Author</th>
                                <th>Average Rating</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Genre</th>
                                <th>ISBN</th>
                            </thead>
                            <tr *ngFor ="let book of ib" >
                                <td>{{book.authors}}</td>
                             <td>{{book.average_rating}}<br> 
                                
                               
                                <!--POPUP-->
                                <button id="myBtn" (click)="popup()">Rate</button>
                    
                    <!-- The Modal -->
                    <div id="myModal" class="modal" *ngIf="activatepopup">
                    
                      <!-- Modal content -->
                      <div class="modal-content" >
                        
                        
                    <span class="close " (click)="spanclick()" >&times;</span> 
                         
                        <label class="dontshow"  id="isbn">{{book.isbn}}</label>
                       <select [(ngModel)]="usrrating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                       </select>
                        <button (click)="rating()" style="color: green;">Rate the book</button>
                        <p *ngIf = "successfulrating">Rated successfully!</p>
                        
                      </div>
                    
                    </div>
                    
                           <!--POPUP END-->
                    
                                
                            
                            
                            </td>
                                <td><img src="{{book.image_url}}"></td>
                                <td>{{book.title}}</td>
                                <td>{{book.genre}}</td>
                                <td>{{book.isbn}}</td>
                            </tr>
                        </table>
                        </div>
                        
                    
                    </div>



    <!--BIO-->
                    <div *ngIf="bio" class="scroll-link">
    
                        <div id="scifi" class="subtype">
                            <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
                            <table class="books">
                                <thead>
                                    <th>Author</th>
                                    <th>Average Rating</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Genre</th>
                                    <th>ISBN</th>
                                </thead>
                                <tr *ngFor ="let book of ib" >
                                    <td>{{book.authors}}</td>
                                 <td>{{book.average_rating}}<br> 
                                    
                                   
                                    <!--POPUP-->
                                    <button id="myBtn" (click)="popup()">Rate</button>
                        
                        <!-- The Modal -->
                        <div id="myModal" class="modal" *ngIf="activatepopup">
                        
                          <!-- Modal content -->
                          <div class="modal-content" >
                            
                            
                        <span class="close " (click)="spanclick()" >&times;</span> 
                             
                            <label class="dontshow"  id="isbn">{{book.isbn}}</label>
                           <select [(ngModel)]="usrrating">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                           </select>
                            <button (click)="rating()" style="color: green;">Rate the book</button>
                            <p *ngIf = "successfulrating">Rated successfully!</p>
                            
                          </div>
                        
                        </div>
                        
                               <!--POPUP END-->
                        
                                    
                                
                                
                                </td>
                                    <td><img src="{{book.image_url}}"></td>
                                    <td>{{book.title}}</td>
                                    <td>{{book.genre}}</td>
                                    <td>{{book.isbn}}</td>
                                </tr>
                            </table>
                            </div>
                            
                        
                        </div>


        <!--POETRY-->
                        <div *ngIf="poetry" class="scroll-link">
    
                            <div id="scifi" class="subtype">
                                <h2 style="background-color: antiquewhite; font-weight: 600; text-align: center;">Recommendations</h2>
                                <table class="books">
                                    <thead>
                                        <th>Author</th>
                                        <th>Average Rating</th>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Genre</th>
                                        <th>ISBN</th>
                                    </thead>
                                    <tr *ngFor ="let book of ib" >
                                        <td>{{book.authors}}</td>
                                     <td>{{book.average_rating}}<br> 
                                        
                                       
                                        <!--POPUP-->
                                        <button id="myBtn" (click)="popup()">Rate</button>
                            
                            <!-- The Modal -->
                            <div id="myModal" class="modal" *ngIf="activatepopup">
                            
                              <!-- Modal content -->
                              <div class="modal-content" >
                                
                                
                            <span class="close " (click)="spanclick()" >&times;</span> 
                                 
                                <label class="dontshow"  id="isbn">{{book.isbn}}</label>
                               <select [(ngModel)]="usrrating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                               </select>
                                <button (click)="rating()" style="color: green;">Rate the book</button>
                                <p *ngIf = "successfulrating">Rated successfully!</p>
                                
                              </div>
                            
                            </div>
                            
                                   <!--POPUP END-->
                            
                                        
                                    
                                    
                                    </td>
                                        <td><img src="{{book.image_url}}"></td>
                                        <td>{{book.title}}</td>
                                        <td>{{book.genre}}</td>
                                        <td>{{book.isbn}}</td>
                                    </tr>
                                </table>
                                </div>
                                
                            
                            </div>


</body>