<!--ABOUT-->
<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Matches your taste</h4>
                    <div class="line-dec"></div>
                    <p>This is a one-stop solution to cater the taste buds of the reading addict inside you!</p>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Quickstart</h4>
                    <div class="line-dec"></div>
                    <p>No hassle of signup/login forms. Just come, read and enjoy!!</p>
                
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>24x7 Quick Support</h4>
                    <div class="line-dec"></div>
                    <p>Feel free to talk to us on our Facebook page if you have any kind of question or suggestion.</p>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>One-Click Setup</h4>
                    <div class="line-dec"></div>
                    <p>Just click your favourite genre and you're at your happy place!</p>
             
                </div>
            </div>
        </div>
    </div>
</section>
