
<!--TESTIMONIALS-->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“This is my favourite book reading place! I feel as if it always knows what am I about to read. ”</p>
                            <h4>Astha Sharma</h4>
                            <span>Mtech student</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“It is like my on-the-go library. I wish where was this website all these years!”</p>
                            <h4>Apoorva</h4>
                            <span>IMTech student</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“A beautiful website that caters all my interests. Kudos to the team working behind this!”</p>
                            <h4>Shubham</h4>
                            <span>IMTech student</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
