<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>B</em>ookLounge</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a routerlink='/Home' class="scroll-top">Home</a></li>
                  
                    
                    <li><a routerlink='/Genres' class="scroll-link" data-id="blog">Genres</a></li>
                    <li><a routerlink='/About-Us' class="scroll-link" data-id="about">About Us</a></li>
                    <li><a routerlink='/Testimonials' class="scroll-link" data-id="testimonial">Testimonials</a></li>
                    <li><a routerlink='/Contact-Us' class="scroll-link" data-id="contact-us">Contact Us</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>


<!-- home-->
<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Discover</em> <span> your</span> Roots</h2>
            <p>Welcome Readers! We recommend books as per your taste</p>
            <div class="primary-white-button ">
                <p style="font-family: Verdana; font-size: 20px; color: yellowgreen; font-weight: bold;">Want a recommendation?</p>
                <a href="#" class="scroll-link" data-id="blog">Genre</a>
                <br>
                <br>
                <a href="#" class="scroll-link" data-id="title" (click)="activatetitle()">Book Title</a>
                <br>
                <br>
                <a href="#" class="scroll-link" data-id="blog">Username</a>
            </div>
        </div>
    </div>
</div>

<!--TITLE-->

<div *ngIf= "title" class="scroll-link">
 
    <div id= "title" class="titlecss">
   
<form class="example" style="margin:auto;max-width:300px">
    <br><br><br><br><br><br><br><br><br>
  <input type="text" placeholder="Search by Book Title" name="search">
  <button type="submit"  (click)="showBookByTitle()"><i class="fa fa-search"></i></button>
</form>
    </div>

</div>

<div *ngIf="showtitle">
<p>astha</p>


</div>